html, body {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

header {
  background: #555;
  color: #eee;
  padding: 0.5em 1em;
  font-size: 1.3em;
}

header a, header a:visited {
  color: #aaf;
  float: right;
  text-decoration: none;
}

h1 {
  font-size: 20px
}

table {
  min-width: 400px;
}

th {
  background: #eee;
  text-align: left;
  color: #555;
}

td, th {
  padding: 5px;
}

td {
  border-bottom: 1px solid #eee;
}

.menuColumn {
  width: 10px;
}

#index {
  padding: 1em;
}

.icon, .iconHover {
  opacity: 0.5;
}

.iconHover:hover {
  opacity: 1;
}

.floatRight {
  float: right;
}